<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FutureBM_AutoTest" preserve-order="true">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="expenseBX_flow" preserve-order="true">
        <classes>
            <class name="cn.dxz.testCase.flowCenter.NewExpenseBXTest"></class>
            <class name="cn.dxz.testCase.flowCenter.WorkflowTaskTest"></class>
        </classes>
    </test>

</suite>
