<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FutureBM_AutoTest">
    <test name="systemAdminTest">

        <packages>
            <package name="cn.dxz.testCase.allBudget.expenseBXFlow"></package>
        </packages>
<!--        <classes>-->
<!--            <class name="cn.dxz.testCase.allBudget.newExpenseBXTest">-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="checkBX"></include>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
<!--        </classes>-->

    </test>
</suite>
